@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btn-primary {
    color: #fff;
    border: none;
    border-radius: 1em;
    background-color: $button-background;
    min-width: 25%;
    width: max-content;
    padding: 1rem;
    font: {
        size: em(20);
        weight: bold;
    }
    cursor: pointer;
    transition: all .3s;
    &:hover, &:active {
        background-color: darken($button-background, 5%);
        transform: translate(1%, 3%);
        box-shadow: 2px 2px 4px $shadow-color;
    }
}