@import '../../styles/utilities/mixins';
@import '../../styles/utilities/variables';

.set-options-item {
    color: $text-color;
    border: 2px solid $button-background;
    padding: 0.5em 1em; 
    border-radius: 0.5em;
    width: 100%;
    align-self: center;
    cursor: pointer;
    transition: all .2s;
    font: {
        size: em(20);
        weight: bold;
    }
    &:hover, &:active {
        background-color: lighten($button-background, 10%);
        color: #fff;
        border: none
    }
}